* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  background-color: #375264;
  color: #d6f1fa;
  margin: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #4e6f7a;
  border-radius: 15px;
}

nav h1 {
  width: 200px;
  font-size: 1.6rem;
  color: #d6f1fa;
}

nav ul.main-nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 35px;
  font-size: 1.2rem;
}

header ul.main-nav a {
  text-decoration: none;
  color: #d6f1fa;
}

header ul.main-nav li :hover {
  color: #f88853;
}

main h2 {
  font-size: 1.6em;
  margin-top: 30px;
  text-align: center;
  text-shadow: -4px 3px 1px #112b3a;
}

main p {
  font-size: 1.2rem;
  text-align: center;
}

main ul {
  text-align: center;
  list-style-type: none;
}

p.l {
  margin-top: 40px;
  text-shadow: -4px 3px 1px #112b3a;
}

div.foot {
  margin-top: 60px;
  background-color: #4e6f7a;
  color: #d6f1fa;
  text-align: center;
  border-radius: 8px;
}

div.foot p a {
  text-decoration: none;
  color: #f88853;
  font-size: 1.1rem;
  font-weight: bolder;
}

div.foot p a:hover {
  color: #000000;
}

/* Media Query for Mobile Devices with max-width: 500px */
@media (max-width: 500px) {
  body {
    margin: 10px; /* Reduce the margin */
  }

  nav {
    flex-direction: column;
    padding: 10px;
  }

  nav h1#hm {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
  }

  nav ul.main-nav {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    font-size: 1rem;
  }

  nav ul.main-nav li {
    margin: 5px 0;
  }
  /* Main Heading */
  main h2 {
    font-size: 1.4em;
    margin-top: 20px;
    text-align: center;
  }

  /* Paragraph */
  main p {
    font-size: 1rem;
    text-align: justify; /* Justify text for better flow */
  }

  main ul {
    padding-left: 20px; /* Add some padding to the list items */
  }

  main ul li {
    font-size: 1rem;
    margin-bottom: 10px; /* Add spacing between items */
  }

  p.l {
    margin-top: 20px;
    font-size: 1rem;
  }

  div.foot {
    margin-top: 30px;
    padding: 10px;
    font-size: 1rem;
  }

  div.foot p {
    margin-bottom: 10px;
  }

  div.foot p a {
    font-size: 1rem;
  }
}
