* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  background-color: #375264;
  color: #d6f1fa;
  margin: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #4e6f7a;
  border-radius: 15px;
}

nav h1#hm {
  width: 200px;
  font-size: 1.6rem;
  color: #d6f1fa;
}

nav ul.main-nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 35px;
  font-size: 1.2rem;
}

header ul.main-nav a {
  text-decoration: none;
  color: #d6f1fa;
}

header ul.main-nav li :hover {
  color: #f88853;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2.main-h2 {
  text-align: center;
  margin-top: 20px;
  text-shadow: -4px 3px 1px #112b3a;
}

main img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 10px;
  object-fit: cover;
  border: 5px solid #f88853;
}

ul.person-info {
  text-align: center;
  list-style-type: none;
  font-size: 1.1rem;
}

ul.person-info li#spec {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  font-size: 1.9rem;
}

ul.person-info li#spec a {
  color: #d6f1fa;
  text-decoration: none;
}

ul.person-info li#spec a:hover {
  color: #f88853;
}

h3.main-text-header {
  margin: 10px 5px;
  font-size: 1.4rem;
  color: #f88853;
}

div.main-text {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  height: 400px;
}
div.left {
  background-image: url("../imgs/DamascusGate.jpg");
  height: 400px;
  background-size: cover;
}

div.right {
  background-image: url("../imgs/mount.webp");
  height: 400px;
  background-size: cover;
}

div.secondary-text {
  margin: 30px 80px;
}

div.secondary-text h4 {
  margin-top: 50px;
  font-size: 2rem;
}

div.foot {
  margin-top: 60px;
  background-color: #4e6f7a;
  color: #d6f1fa;
  text-align: center;
  border-radius: 8px;
}

div.foot p a {
  text-decoration: none;
  color: #f88853;
  font-size: 1.1rem;
  font-weight: bolder;
}

div.foot p a:hover {
  color: #000000;
}
