/* import of the other css files in the botoom of this file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  background-color: #375264;
  color: #d6f1fa;
  margin: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #4e6f7a;
  border-radius: 15px;
}

nav h1#hm {
  width: 200px;
  font-size: 1.6rem;
  color: #d6f1fa;
}

nav ul.main-nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 35px;
  font-size: 1.2rem;
}

header ul.main-nav a {
  text-decoration: none;
  color: #d6f1fa;
}

header ul.main-nav li :hover {
  color: #f88853;
}

main {
  grid-area: main;
}

main div.img {
  background-image: url("../imgs/main-pic.webp");
  background-size: cover;
  margin-top: 30px;
  border-radius: 20px;
  width: 100%;
  height: 580px;
}

main h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 2.4rem;
  font-weight: bolder;
  background: #f88853;
  background: linear-gradient(to right, #f88853 0%, #4b697c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main h3 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
}

section.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-top: 30px;
}

main section div {
  /* border: 1px solid black; */
  height: 300px;
}

div.posts-header h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.6rem;
  text-shadow: -4px 3px 1px rgba(206, 89, 55, 0.63);
}

div.posts-header h3 span {
  color: #f88853;
  text-shadow: -4px 3px 1px rgba(206, 89, 55, 0.63);
}

div.post1 {
  background-image: url("../imgs/Travel-to-Paris.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
}

div.post2 {
  background-image: url("../imgs/jerusalem.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
}

div.post3 {
  background-image: url("../imgs/Gaza.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
}

div.post4 {
  background-image: url("../imgs/amstrdam.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
}

div.post5 {
  background-image: url("../imgs/turkey.webp");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
}

div.post6 {
  background-image: url("../imgs/almaldif.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
}

div.post p {
  text-align: center;
  background-color: #4e6f7a;
  width: 80%;
  height: 16%;
  margin-bottom: -15px;
  border-radius: 12px;
}

div.post p a {
  text-decoration: none;
  cursor: pointer;
  background-color: #d6f1fa;
  color: #4e6f7a;
  font-weight: bolder;
  border: none;
  height: 30px;
  padding: 2px;
  border-radius: 7px;
}

div.post p a:hover {
  background-color: #f88853;
  color: #d6f1fa;
}

section.fav-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 160px;
  margin-top: 40px;
}

section.fav-posts div.fav-p1 {
  height: 390px;
  background-image: url("../imgs/london.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
section.fav-posts figcaption {
  margin-top: 21px;
}

section.fav-posts div.fav-p2 {
  height: 390px;
  background-image: url("../imgs/Gza2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section.fav-posts div.post-v {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-radius: 20px;
}

section.fav-posts div.post-v p {
  background-color: #f88853;
  border-radius: 8px;
  height: 45px;
  width: 190px;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: -20px;
}

div.posts-header h4 {
  margin-top: 60px;
  text-align: center;
  font-size: 1.6rem;
  text-shadow: -4px 3px 1px rgba(206, 89, 55, 0.63);
}

div.foot {
  margin-top: 60px;
  background-color: #4e6f7a;
  color: #d6f1fa;
  text-align: center;
  border-radius: 8px;
}

div.foot p a {
  text-decoration: none;
  color: #f88853;
  font-size: 1.1rem;
  font-weight: bolder;
}

div.foot p a:hover {
  color: #000000;
}

/* responsive design for mobiles */
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    padding: 10px;
  }

  nav h1#hm {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
  }

  nav ul.main-nav {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    font-size: 1rem;
  }

  nav ul.main-nav li {
    margin: 5px 0;
  }

  main div.img {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  main h2 {
    font-size: 1.8rem;
  }

  main h3 {
    font-size: 1rem;
  }

  section.posts {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 0 10px;
  }

  .post1,
  .post2,
  .post3,
  .post4,
  .post5,
  .post6 {
    height: 200px;
    margin-bottom: 45px;
  }

  .post p {
    font-size: 0.6rem;
    width: 90%;
    height: 450px;
    margin-bottom: 10px;
  }

  section.fav-posts {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  section.fav-posts div.fav-p1,
  section.fav-posts div.fav-p2 {
    height: 250px;
    margin-bottom: 20px;
  }

  div.foot {
    font-size: 0.8rem;
    padding: 15px;
  }

  div.foot p {
    margin-bottom: 5px;
  }

  div.foot p a {
    font-size: 0.8rem;
  }
}
/* responsive design for tablets */
@media (min-width: 501px) and (max-width: 1200px) {
  /* Nav */
  nav {
    flex-direction: row;
    padding: 15px;
  }

  nav h1#hm {
    font-size: 1.5rem;
    text-align: left;
  }

  nav ul.main-nav {
    font-size: 1.1rem;
    column-gap: 25px;
  }

  nav ul.main-nav li {
    margin: 0 10px;
  }

  /* Main */
  main h2 {
    font-size: 2rem;
  }

  main h3 {
    font-size: 1.1rem;
  }

  /* Posts */
  section.posts {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .post1,
  .post2,
  .post3,
  .post4,
  .post5,
  .post6 {
    height: 250px;
    margin-bottom: 20px;
  }

  div.post p {
    font-size: 0.79rem;
    width: 80%;
    height: 60px;
  }

  div.post p a {
    font-size: 1.1rem;
  }

  /* Favourite posts */
  section.fav-posts {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }

  section.fav-posts div.fav-p1,
  section.fav-posts div.fav-p2 {
    height: 300px;
  }

  section.fav-posts div.post-v p {
    font-size: 1.3rem;
  }

  /* Footer */
  div.foot {
    font-size: 1rem;
    padding: 20px;
  }

  div.foot p {
    margin-bottom: 10px;
  }

  div.foot p a {
    font-size: 1rem;
  }
}

@import url("../css/me.css");
@import url("./about.css");
@import url("./contact.css");
@import url("./post1.css");
@import url("./post2.css");
@import url("./post3.css");
@import url("./post4.css");
@import url("./post5.css");
@import url("./post6.css");
